<html ng-app="atlasEditor">

<head>
<title>Atlas Editor</title>

<link rel="stylesheet" href="ext/fontawesome/css/font-awesome.css">
<link rel="stylesheet" href="ext/fire-editor-ui/editor-ui.css">
<link rel="stylesheet" href="bin/atlas-editor.css">

<script src="ext/jquery/dist/jquery.min.js"></script>
<script src="ext/angular/angular.min.js"></script>
<script src="ext/paper/dist/paper-core.js"></script>
<script src="ext/fire-core/core.dev.js"></script>
<script src="ext/fire-editor-ui/editor-ui.js"></script>
<script src="ext/fire-editor-ui/editor-ui-templates.js"></script>
<script src="bin/atlas-editor.js"></script>

<script src="ext/pngcrush_modified.js"></script>
</head>

<body>
<div ng-controller="workSpaceCtrl" id="workspace" class="workspace">
    <free-move-paper id="canvas"></free-move-paper>
</div>

<div id="left-sidebar" class="panel left sidebar">
</div>

<div ng-controller="rightPanelCtrl" tabIndex="1" id="right-sidebar" class="panel right sidebar">
    <fire-ui-section fi-title="Atlas">
        <fire-ui-field fi-name="Auto Size" fi-value="atlas.autoSize"></fire-ui-field>                           
        <fire-ui-field fi-name="Width" fi-value="atlas.width" fi-type="enum" fi-enum-list="sizeList"></fire-ui-field>                           
        <fire-ui-field fi-name="Height" fi-value="atlas.height" fi-type="enum" fi-enum-list="sizeList"></fire-ui-field>                         
        <fire-ui-field fi-name="Trim" fi-value="atlas.trim"></fire-ui-field>                         
        <fire-ui-field fi-name="Trim Threshold" fi-value="atlas.trimThreshold" fi-type="int"></fire-ui-field>                         

        <fire-ui-field fi-name="Algorithm" fi-value="atlas.algorithm" fi-type="enum" fi-enum-type="FIRE.Atlas.Algorithm"></fire-ui-field>                         
        <fire-ui-field fi-name="Sort By" fi-value="atlas.sortBy" fi-type="enum" fi-enum-type="FIRE.Atlas.SortBy"></fire-ui-field>                         
        <fire-ui-field fi-name="Sort Order" fi-value="atlas.sortOrder" fi-type="enum" fi-enum-type="FIRE.Atlas.SortOrder"></fire-ui-field>                         
        <fire-ui-field fi-name="Allow Rotate" fi-value="atlas.allowRotate"></fire-ui-field>                         

        <fire-ui-field fi-name="Contour Bleed" fi-value="atlas.useContourBleed"></fire-ui-field>                         
        <fire-ui-field fi-name="Padding Bleed" fi-value="atlas.usePaddingBleed"></fire-ui-field>                         
        <fire-ui-field fi-name="Custom Padding" fi-value="atlas.customPadding" fi-type="int"></fire-ui-field>                         
        <fire-ui-custom-field fi-name="Build Color">
            <fire-ui-checkbox fi-value="atlas.customBuildColor"></fire-ui-checkbox>
            <span class="space"></span>                                     
            <fire-ui-color class="flex-1" fi-value="atlas.buildColor"></fire-ui-color>
        </fire-ui-custom-field>                         
    </fire-ui-section>

    <span class="space"></span>                                                                            

    <fire-ui-section fi-title="Work Space">
        <fire-ui-field fi-name="Smooth Canvas" fi-value="editor.smoothCanvas"></fire-ui-field>                         
        <fire-ui-field fi-name="Show Checkerboard" fi-value="editor.showCheckerboard"></fire-ui-field>                         
        <fire-ui-field fi-name="Background" fi-value="editor.backgroundColor"></fire-ui-field>                         
        <fire-ui-field fi-name="Element Background" fi-value="editor.elementBgColor"></fire-ui-field>                         
        <fire-ui-field fi-name="Element Select" fi-value="editor.elementSelectColor"></fire-ui-field>                         
    </fire-ui-section>

    <span class="space"></span>                                                                            

    <div class="flex-1 flex-row">
        <div class="flex-1"></div>
        <fire-ui-button ng-click="export()">Export Atlas</fire-ui-button> 
        <span class="space"></span>
        <fire-ui-button ng-click="layout()">Layout</fire-ui-button>                                                             
        <span class="space"></span>
    </div>
</div>
</body>

</html>
